/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-screen overflow-hidden;
}
body {
	@apply bg-surface-100 font-sans text-black;
}

/* --- Scrollbars --- */

/* Scrollbars (webkit) */
::-webkit-scrollbar {
	@apply w-2;
}
::-webkit-scrollbar-track {
	@apply bg-white/20;
}
::-webkit-scrollbar-thumb {
	@apply rounded-full bg-surface-300;
}

/* Hide Scrollbars */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none; /* IE/Edge */
	scrollbar-width: none; /* Firefox */
}

/* --- Typography --- */

/* Headings */
h1 {
	@apply text-4xl font-bold md:text-6xl;
}
h2 {
	@apply text-3xl font-bold md:text-4xl;
}
h3 {
	@apply text-2xl font-bold md:text-3xl;
}
h4 {
	@apply text-xl font-bold md:text-2xl;
}
h5 {
	@apply text-lg font-bold md:text-xl;
}
h6 {
	@apply text-base font-bold md:text-lg;
}

/* Code */
pre:not(.codeblock pre) {
	@apply overflow-x-auto whitespace-pre-wrap rounded bg-surface-700 p-4 text-base text-surface-50;
}
code:not(.codeblock code) {
	@apply rounded bg-surface-500/30 py-1 px-2 text-xs text-black;
}

/* Page Styles */
main p {
	@apply text-base text-surface-500;
}
main :not(nav) > a:not(.comp-button):not(.crumb a):not(.list-item):not(.logo):not(.btn) {
	@apply text-primary-500 underline decoration-primary-500/20 decoration-dotted underline-offset-4;
}

/* --- Forms --- */

fieldset {
	@apply block;
}

/* Inputs */
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
	@apply w-full appearance-none border border-surface-300 bg-surface-50 text-black shadow-sm focus:z-10 focus:border-accent-500 focus:ring-accent-500;
}

/* Selectable */
[type='checkbox'],
[type='radio'] {
	@apply rounded border-surface-500 text-accent-600 focus:ring-accent-500;
}

/* Invalid - https://www.bram.us/2021/01/28/form-validation-you-want-notfocusinvalid-not-invalid/ */
input:not(:focus):not(:placeholder-shown):invalid {
	@apply border-warning-700 bg-warning-500 text-warning-50;
}

/* Placeholders */
input::-moz-placeholder,
textarea::-moz-placeholder {
	@apply text-surface-400;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	@apply text-surface-400;
}
input::placeholder,
textarea::placeholder {
	@apply text-surface-400;
}

/* Labels */
label {
	@apply block overflow-visible;
}
label span,
legend {
	@apply mb-2 block text-sm text-surface-700;
}

/* Accent Color - https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color */
[type='range']:not(.range-input) {
	@apply w-full accent-accent-500;
}
